@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.toggle-pwd {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;
}

.toggle-pwd p {
    display: inline-block;
}

.toggle-pwd input {
    margin: 5px;
}

.toggle-pwd label {
    font-size: 15px !important;
}