<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevated Event Management Ltd</title>
    <link rel="stylesheet" href="../static/Style/AdminOrCust.css">
</head>

<body>
    <header>
        <h1>Elevated Event Management Ltd</h1>
    </header>
    <hr>
    <section>
        <div class="left">
            <a href="../login/" class="customer">Login as Customer</a>
            <br>
            <a href="../adminlogin/" class="admin">Login as Admin</a>
        </div>
        <div class="right">
            <img src="../static/Images/bgImage5.jpg" alt="">
        </div>
    </section>
</body>

</html>