<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/Style/AfterLogin.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/Style/indexFooter.css">

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark nav1">
            <div class="container">
                <a class="navbar-brand title" href="#">Event's</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item active li-link">
                            <a class="nav-link li-link" href="/Home/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/MyEvents/">My Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Blog/">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Gallery/">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Services/">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/About/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/ContactUs/">Contact-Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Logout/">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="heading-2">
            <h1>What you want to book?</h1>
            <h2>We are Here to serve you..!!</h2>
            <hr id="hr-1">
        </div>
        <div class="row ">
            {% csrf_token %}
            {% for event in events %}
            <div class="col-lg-3 col-md-5 col-sm-5 col-12 section-1">
                <img src="../static/{{ event.image }}" alt="">
                <h3>{{ event.event_name }}</h3>
                <a href="../venues/{{ event.id }}/" class="link-hotel">Search for Hotels</a>
            </div>
            {% endfor %}
        </div>

        <footer>
            <section class="sec-1">
                <section class="about">
                    <h2>About</h2>
                    <p>Elevated Event Management Ltd is an event logistics and marketing company which was formed
                        back
                        in 2013. The
                        company offers A-Z event planning services from a team of experienced and energetic event
                        planners, suppliers, venues and more. One of the main reasons behind the success of this
                        company
                        is the fact that the team does not charge fees to its clients! With the number of events
                        we organise, Event Planner Ltd does not need to add exorbitant fees and mark-ups to make its
                        profit margins. This ensures that our clients list, which is constantly growing, make
                        regular
                        use of our services.</p>
                </section>
                <section class="link2">
                    <h2 class="quick-1">Quick Links</h2>
                    <ul>
                        <li><a href="/Home/">Home</a></li>
                        <li><a href="/About/">About Us</a></li>
                        <li><a href="/Services/">Services</a></li>
                        <li><a href="/termsofservices/">Terms of Services</a></li>
                        <li><a href="/privacypolicy/">Privacy Policy</a></li>
                    </ul>
                </section>
                <section class="link3">
                    <h2 class="quick-2">Contact Us</h2>
                    <ul>
                        <li><i class="fa fa-building"></i><span>A108 Adam Street</span></li>
                        <li><i class="fa fa-home"></i><span>New York, NY 535022</span></li>
                        <li><i class="fa fa-envelope"></i><span><a
                                    href="mailto:example@info.com">example@info.com</a></span></li>
                        <li><i class="fa fa-phone-square"></i><span><a href="tel:+1 5589 55488 55">Mobile: +1 5589 55488
                                    55</a></span></li>
                        <li><i class="fa fa-info-circle"></i><a href="#">Elevated Events</a></li>
                    </ul>
                </section>
            </section>

            <hr width="100%" noshade>
            <section class="sec-2">
                <p>Start your Booking Now..</p>
                <a href="./Pages/AdminOrCust.html">SignIn</a>
            </section>
            <!-- <hr width="100%" noshade> -->
            <section class="sec-3">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </section>
            <section class="sec-4">
                <p>
                    Copyrights &copy 2020 All Rights Reserved By
                    <a href="#">Elevated Event Management Ltd</a>

                </p>
            </section>
        </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- <script src="bootstrap.bundle.min.js / bootstrap.bundle.js "></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>