<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Mangement System</title>
    <link rel="stylesheet" href="./static/Style/indexCSS.css">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/Style/indexFooter.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .imgcarousel {
            width: 100%;
            height: 90vh;
        }

        .caption_heading {
            font-family: 'Merriweather', serif;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <h1>Elevated Event Management Ltd</h1>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide carousel-fade imgcarousel" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./static/Images/birthday.jpg" class="d-block w-100 imgcarousel" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="caption_heading">Birthday Party</h2>
                        <!-- <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./static/Images/cocktail.jpg" class="d-block w-100 imgcarousel" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2 class="caption_heading">Cocktail Party</h2>
                        <!-- <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./static/Images/meeting.jpg" class="d-block w-100 imgcarousel" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Meeting Halls</h2>
                        <!-- <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./static/Images/candlelight.jpg" class="d-block w-100 imgcarousel" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Candle Light Dinner</h2>
                        <!-- <p>Some representative placeholder content for the second slide.</p> -->
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <h1>Why US.</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 grid1">
                <img src="./static/Images/floppy.jpg" class="mx-auto d-block" alt="">
                <h3>EXPERIENCE</h3>
                <p>We have been event organizers since 2005 and have worked extensively with companies from different
                    industries.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 grid1">
                <img src="./static/Images/network.png" class="mx-auto d-block" alt="">
                <h3>VENDOR NETWORK</h3>
                <p>We have a vast event vendor network who we work with to plan events for our clients in
                    all over India.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 grid1">
                <img src="./static/Images/ruppe.jpg" class="mx-auto d-block" alt="">
                <h3>COST EFFECTIVE</h3>
                <p>Our event services are cost effective and impact-full, we work with you to plan your events
                    in budget.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 grid1">
                <img src="./static/Images/user.png" class="mx-auto d-block" alt="">
                <h3>TRANSPARENT</h3>
                <p>We assure complete transparency and implement it at every step of the event planning
                    process.</p>
            </div>
        </div>
    </div>
    <footer>
        <section class="sec-1">
            <section class="about">
                <h2>About</h2>
                <p>Elevated Event Management Ltd is an event logistics and marketing company which was
                    formed
                    back
                    in 2013. The
                    company offers A-Z event planning services from a team of experienced and energetic
                    event
                    planners, suppliers, venues and more. One of the main reasons behind the success of this
                    company
                    is the fact that the team does not charge fees to its clients! With the number of events
                    we organise, Event Planner Ltd does not need to add exorbitant fees and mark-ups to make
                    its
                    profit margins. This ensures that our clients list, which is constantly growing, make
                    regular
                    use of our services.</p>
            </section>
            <section class="link2">
                <h2 class="quick-1">Quick Links</h2>
                <ul>
                    <li><a href="/Home/">Home</a></li>
                    <li><a href="/About/">About Us</a></li>
                    <li><a href="/Services/">Services</a></li>
                    <li><a href="/termsofservices/">Terms of Services</a></li>
                    <li><a href="/privacypolicy/">Privacy Policy</a></li>
                </ul>
            </section>
            <section class="link3">
                <h2 class="quick-2">Contact Us</h2>
                <ul>
                    <li><i class="fa fa-building"></i><span>A108 Adam Street</span></li>
                    <li><i class="fa fa-home"></i><span>New York, NY 535022</span></li>
                    <li><i class="fa fa-envelope"></i><span><a
                                href="mailto:example@info.com">example@info.com</a></span></li>
                    <li><i class="fa fa-phone-square"></i><span><a href="tel:+1 5589 55488 55">Mobile: +1
                                5589 55488
                                55</a></span></li>
                    <li><i class="fa fa-info-circle"></i><a href="#">Elevated Events</a></li>
                </ul>
            </section>
        </section>
        <hr width="100%" noshade>
        <section class="sec-2">
            <p>Start your Booking Now..</p>
            <a href="./AdminOrCust/">SignIn</a>
        </section>
        <hr width="100%" noshade>
        <section class="sec-3">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </section>
        <section class="sec-4">
            <p>
                Copyrights &copy 2020 All Rights Reserved By
                <a href="#">Elevated Event Management Ltd</a>
            </p>
        </section>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>