<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style/Login.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/Style/indexFooter.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login to your account</title>
</head>

<body>
    <header>
        <h1>Elevated Event Management Ltd</h1>
    </header>
    <div class="middle">
        <h2>Login to Your Account</h2>
        <form action="../login/" method="post" class="form">
            <div class="form1">
                <label for="user">Username</label>{% csrf_token %}
                <input type="text" name="username" id="user" placeholder="Enter Your Username">
            </div>
            <div class="form1">
                <label for="pwd">Password</label>
                <input type="password" name="password" id="pwd" placeholder="Enter Your Password">
            </div>
            <br>
            <p style="color: red">{{ message }}</p>
            <button title="Sign-in" type="submit" class="btn btn-success submitbtn mt-2">Login</button>
        </form>

        <a href="../ForgotPassword/" class="link1">Forgot Password?</a>
        <a href="../register/" class="link1">Dont't have account?</a>
        <!-- <button class="btn btn-success btn2" onclick="myFunction()">Submit</button> -->


    </div>
    <footer>
        <section class="sec-1">
            <section class="about">
                <h2>About</h2>
                <p>Elevated Event Management Ltd is an event logistics and marketing company which was formed
                    back
                    in 2013. The
                    company offers A-Z event planning services from a team of experienced and energetic event
                    planners, suppliers, venues and more. One of the main reasons behind the success of this
                    company
                    is the fact that the team does not charge fees to its clients! With the number of events
                    we organise, Event Planner Ltd does not need to add exorbitant fees and mark-ups to make its
                    profit margins. This ensures that our clients list, which is constantly growing, make
                    regular
                    use of our services.</p>
            </section>
            <section class="link2">
                <h2 class="quick-1">Quick Links</h2>
                <ul>
                    <li><a href="/Home/">Home</a></li>
                    <li><a href="/About/">About Us</a></li>
                    <li><a href="/Services/">Services</a></li>
                    <li><a href="/termsofservices/">Terms of Services</a></li>
                    <li><a href="/privacypolicy/">Privacy Policy</a></li>
                </ul>
            </section>
            <section class="link3">
                <h2 class="quick-2">Contact Us</h2>
                <ul>
                    <li><i class="fa fa-building"></i><span>A108 Adam Street</span></li>
                    <li><i class="fa fa-home"></i><span>New York, NY 535022</span></li>
                    <li><i class="fa fa-envelope"></i><span><a
                                href="mailto:example@info.com">example@info.com</a></span></li>
                    <li><i class="fa fa-phone-square"></i><span><a href="tel:+1 5589 55488 55">Mobile: +1 5589 55488
                                55</a></span></li>
                    <li><i class="fa fa-info-circle"></i><a href="#">Elevated Events</a></li>
                </ul>
            </section>
        </section>
        <!-- <hr width="100%" noshade> -->
        <section class="sec-2">
            <p>Start your Booking Now..</p>
            <a href="./AdminOrCust/">SignIn</a>
        </section>
        <hr width="100%" noshade>
        <section class="sec-3">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </section>
        <section class="sec-4">
            <p>
                Copyrights &copy 2020 All Rights Reserved By
                <a href="#">Elevated Event Management Ltd</a>
            </p>
        </section>
    </footer>
    <script>

    </script>
</body>

</html>