<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Services</title>
    <link rel="stylesheet" href="../static/Style/TermsOfServices.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/Style/indexFooter.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark nav1">
            <div class="container">
                <a class="navbar-brand title" href="/Home/">Event's</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item active li-link">
                            <a class="nav-link li-link" href="/Home/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/MyEvents/">My Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Blog/">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Gallery/">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Services/">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/About/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/ContactUs/">Contact-Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link li-link" href="/Logout/">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header>
            <h1>Website Terms and Conditions of Use</h1>
            <hr id="hr-1">
        </header>
        <div class="main-content">
            <h2>1. Terms</h2>
            <p>By accessing this Website, accessible from Elevated Event Management, you are agreeing to be bound by
                these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any
                applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this
                site. The materials contained in this Website are protected by copyright and trade mark law.</p>

            <h2>2. Use License</h2>
            <p>Permission is granted to temporarily download one copy of the materials on Elevated Event Management's
                Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a
                transfer of title, and under this license you may not:</p>

            <ul>
                <li>modify or copy the materials;</li>
                <li>use the materials for any commercial purpose or for any public display;</li>
                <li>attempt to reverse engineer any software contained on Elevated Event Management's Website;</li>
                <li>remove any copyright or other proprietary notations from the materials; or</li>
                <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
            </ul>

            <p>This will let Elevated Event Management to terminate upon violations of any of these restrictions. Upon
                termination, your viewing right will also be terminated and you should destroy any downloaded materials
                in your possession whether it is printed or electronic format.</p>

            <h2>3. Disclaimer</h2>

            <p>All the materials on Elevated Event Management’s Website are provided "as is". Elevated Event Management
                makes no warranties, may it be expressed or implied, therefore negates all other warranties.
                Furthermore, Elevated Event Management does not make any representations concerning the accuracy or
                reliability of the use of the materials on its Website or otherwise relating to such materials or any
                sites linked to this Website.</p>

            <h2>4. Limitations</h2>

            <p>Elevated Event Management or its suppliers will not be hold accountable for any damages that will arise
                with the use or inability to use the materials on Elevated Event Management’s Website, even if Elevated
                Event Management or an authorize representative of this Website has been notified, orally or written, of
                the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or
                limitations of liability for incidental damages, these limitations may not apply to you.</p>

            <h2>5. Revisions and Errata</h2>

            <p>The materials appearing on Elevated Event Management’s Website may include technical, typographical, or
                photographic errors. Elevated Event Management will not promise that any of the materials in this
                Website are accurate, complete, or current. Elevated Event Management may change the materials contained
                on its Website at any time without notice. Elevated Event Management does not make any commitment to
                update the materials.</p>

            <h2>6. Links</h2>

            <p>Elevated Event Management has not reviewed all of the sites linked to its Website and is not responsible
                for the contents of any such linked site. The presence of any link does not imply endorsement by
                Elevated Event Management of the site. The use of any linked website is at the user’s own risk.</p>

            <h2>7. Site Terms of Use Modifications</h2>

            <p>Elevated Event Management may revise these Terms of Use for its Website at any time without prior notice.
                By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions
                of Use.</p>

            <h2>8. Your Privacy</h2>

            <p>Please read our <a href="../privacypolicy/">Privacy Policy</a></p>

            <h2>9. Governing Law</h2>

            <p>Any claim related to Elevated Event Management's Website shall be governed by the laws of in without
                regards to its conflict of law provisions.</p>
        </div>

        <footer>
            <section class="sec-1">
                <section class="about">
                    <h2>About</h2>
                    <p>Elevated Event Management Ltd is an event logistics and marketing company which was formed
                        back
                        in 2013. The
                        company offers A-Z event planning services from a team of experienced and energetic event
                        planners, suppliers, venues and more. One of the main reasons behind the success of this
                        company
                        is the fact that the team does not charge fees to its clients! With the number of events
                        we organise, Event Planner Ltd does not need to add exorbitant fees and mark-ups to make its
                        profit margins. This ensures that our clients list, which is constantly growing, make
                        regular
                        use of our services.</p>
                </section>
                <section class="link2">
                    <h2 class="quick-1">Quick Links</h2>
                    <ul>
                        <li><a href="/Home/">Home</a></li>
                        <li><a href="/About/">About Us</a></li>
                        <li><a href="/Services/">Services</a></li>
                        <li><a href="/termsofservices/">Terms of Services</a></li>
                        <li><a href="/privacypolicy/">Privacy Policy</a></li>
                    </ul>
                </section>
                <section class="link3">
                    <h2 class="quick-2">Contact Us</h2>
                    <ul>
                        <li><i class="fa fa-building"></i><span>A108 Adam Street</span></li>
                        <li><i class="fa fa-home"></i><span>New York, NY 535022</span></li>
                        <li><i class="fa fa-envelope"></i><span><a
                                    href="mailto:example@info.com">example@info.com</a></span></li>
                        <li><i class="fa fa-phone-square"></i><span><a href="tel:+1 5589 55488 55">Mobile: +1 5589
                                    55488
                                    55</a></span></li>
                        <li><i class="fa fa-info-circle"></i><a href="#">Elevated Events</a></li>
                    </ul>
                </section>
            </section>

            <hr width="100%" noshade>
            <section class="sec-2">
                <p>Start your Booking Now..</p>
                <a href="./Pages/AdminOrCust.html">SignIn</a>
            </section>
            <!-- <hr width="100%" noshade> -->
            <section class="sec-3">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </section>
            <section class="sec-4">
                <p>
                    Copyrights &copy 2020 All Rights Reserved By
                    <a href="#">Elevated Event Management Ltd</a>
                </p>
            </section>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <!-- <script src="bootstrap.bundle.min.js / bootstrap.bundle.js "></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </div>
</body>

</html>